@import 'settings/variables/color';

.css-tag {
  background: $gley-1;
  display: inline-block;
  height: 20px;
  margin: 0 15px 0 0;
  min-width: 40px;
  padding: 0;
  position: relative;
  text-align: center;

  span {
    color: $white;
  }

  &::before {
    background: $white;
    border-radius: 50%;
    content: '';
    display: block;
    height: 4px;
    margin-top: -2px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 4px;
  }

  &::after {
    border: 10px solid transparent;
    border-left-color: $gley-1;
    content: '';
    display: block;
    height: 0;
    left: 100%;
    position: absolute;
    top: 0;
    width: 0;
  }

  &.form {
    padding-left: 16px;

    &::before {
      color: $white;
      content: '✖';
      display: block;
      font-size: 12px;
      height: 0;
      left: 4px;
      position: absolute;
      top: 10px - 6;
      width: 0;
    }

    &:hover {
      color: $base-color;
    }
  }
}

