@import 'settings/variables/color';

.navbar-default {
  background-color: $light-color;

  border-color: $base-color;

}

.navbar-nav {

  .active {

    a {
      background-color: $base-color;
      color: $white;
    }
  }
}

.header {
  height: 48px;
  width: 100%;
  background-color: $light-color;
  border: 1px solid $base-color;
}
