@import 'settings/variables/color';
@import 'settings/variables/media';
@import 'bourbon';


.post-list {
  height: 100%;
  overflow: scroll;
  ul.post-list {
    li.post-list-item {
      border: 0px solid $gray-d;
      border-top: 1px solid $gray-d;
      border-radius: 0px;
      padding: 15px 0;
      &:first-child {
        border-top: 3px solid $gray-d;
      }
      &:last-child {
        border-bottom: 3px solid $gray-d;
      }
      .path-list {
        a.path-list-link {
          span.name {
            padding-left: 1px;
          }
          span.slash {
            padding-left: 3px;
          }
        }
      }
      h2.post-title {
        font-size: 170%;
        a.post-title-link {
          color: $black;
          &:hover {
            color: $sub-color;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      .post-list-fotter {
        display: flex;
        .post-record {
          display: flex;
          margin-left: auto;
          a.authour-name-link {
            padding-left: 2px;
          }
        }
      }
    }
  }
}
